body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    text-align: center;
}

input {
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Style for the delete button */
.delete-button {
    background-color: #ff6464;
    color: #fff;
    border: none;
    padding: 5px 8px;
    margin-left: 5px;
    cursor: pointer;
}

/* Style for the ad container */
.ad-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 300px;
}
/*<p>Ad goes here</p>/*